.desktop-1-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fad0d2;
    width: 1440px;
    height: 806px;
  }
  .bec75b1cf23fd9831fca4f2a1f8ee9-icon {
    position: absolute;
    top: 112px;
    left: 977px;
    width: 463px;
    height: 694px;
    object-fit: cover;
  }
  .lets-take-care {
    margin: 0;
  }
  .lets-take-care-container {
    position: absolute;
    top: 331px;
    left: 375px;
    font-size: 55px;
    font-weight: 500;
  }
  .new-colletion,
  .order-now {
    position: absolute;
    font-size: var(--font-size-11xl);
    font-weight: 500;
  }
  .new-colletion {
    top: 286px;
    left: 375px;
    color: #d49e46;
  }
  .order-now {
    top: 521px;
    left: 374px;
  }
  .desktop-1-item {
    position: absolute;
    top: 560.95px;
    left: 376px;
    width: 101.5px;
    height: 22.09px;
  }
  .octicondot-16,
  .vector-icon,
  .vector-icon1 {
    position: absolute;
    top: 761px;
    left: 690px;
    width: 26px;
    height: 26px;
    overflow: hidden;
  }
  .vector-icon,
  .vector-icon1 {
    height: 0.59%;
    width: 0.49%;
    top: 38.39%;
    right: 48.75%;
    bottom: 61.03%;
    left: 50.76%;
    max-width: 100%;
    max-height: 100%;
  }
  .vector-icon1 {
    right: 47.85%;
    left: 51.67%;
  }
  .desktop-1-inner {
    position: absolute;
    top: 33px;
    left: -45px;
    background-color: var(--color-white);
    width: 1485px;
    height: 79px;
  }
  .shop-by-categories {
    position: absolute;
    top: 916px;
    left: 577px;
    font-size: var(--font-size-16xl);
    font-weight: 500;
  }
  .b8cbe2bc1b61c80fff09720c252911-icon {
    position: absolute;
    top: 1134px;
    left: 46px;
    width: 572px;
    height: 520px;
    object-fit: cover;
  }
  .bf40ba270790a60e5a866f12ccdbbe-icon,
  .cf509ddcb53a3d56cfb37aadbc1d66-icon {
    position: absolute;
    top: 1124px;
    left: 1040px;
    width: 332px;
    height: 254px;
    object-fit: cover;
  }
  .bf40ba270790a60e5a866f12ccdbbe-icon {
    left: 654px;
    width: 350px;
  }
  .dc9f6b1a5f55cf794c1ba1d40c00cb-icon {
    position: absolute;
    top: 1394px;
    left: 651.14px;
    width: 735.07px;
    height: 278px;
    object-fit: cover;
  }
  .desktop-1-child1,
  .desktop-1-child2,
  .desktop-1-child3,
  .desktop-1-child4 {
    position: absolute;
    top: 1614px;
    left: 253px;
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro);
    width: 123px;
    height: 40px;
  }
  .desktop-1-child2,
  .desktop-1-child3,
  .desktop-1-child4 {
    top: 1329px;
    left: 756px;
  }
  .desktop-1-child3,
  .desktop-1-child4 {
    left: 1150px;
  }
  .desktop-1-child4 {
    top: 1614px;
    left: 957px;
  }
  .hair-care,
  .make-up,
  .make-up1,
  .skincare {
    position: absolute;
    top: 1337px;
    left: 1177px;
    font-size: var(--font-size-mini);
    font-weight: 500;
  }
  .hair-care,
  .make-up1,
  .skincare {
    top: 1622px;
    left: 281px;
  }
  .hair-care,
  .make-up1 {
    top: 1337px;
    left: 785px;
  }
  .hair-care {
    top: 1622px;
    left: 980px;
  }
  .lets-take-the,
  .our-bestsellers {
    position: absolute;
    top: 985px;
    left: 516px;
    font-size: var(--font-size-9xl);
  }
  .our-bestsellers {
    top: 1697px;
    left: 557px;
    font-size: var(--font-size-16xl);
    font-weight: 500;
  }
  .d7681c7523927499576cfb538e8727-icon,
  .efc100d2e2f4fd63529c0d6b70544e-icon {
    position: absolute;
    top: 1865px;
    left: 986px;
    width: 314px;
    height: 286px;
    object-fit: cover;
  }
  .d7681c7523927499576cfb538e8727-icon {
    left: 554px;
    width: 369px;
  }
  .a27bfb1af7936188dc027f8da6168a-icon,
  .bc3b962e5416fbca5698a1ec8b88b0-icon {
    position: absolute;
    top: 1865px;
    left: 140px;
    width: 345px;
    height: 286px;
    object-fit: cover;
  }
  .bc3b962e5416fbca5698a1ec8b88b0-icon {
    top: 2387px;
    left: 151px;
    height: 293px;
  }
  .babb273ba2541f91cf859724488109-icon {
    position: absolute;
    top: 2393px;
    left: 544px;
    width: 374px;
    height: 287px;
    object-fit: cover;
  }
  .f0fc0fa1e6ebc1192ecacf8e16a65d-icon {
    position: absolute;
    top: 2387px;
    left: 988px;
    width: 323px;
    height: 293px;
    object-fit: cover;
  }
  .eye-cream-rp30000-container,
  .face-milk-rp35000-container,
  .shampo-rp50000 {
    position: absolute;
    top: 2702px;
    left: 245px;
    font-size: var(--font-size-16xl);
    font-weight: 500;
    text-align: center;
  }
  .eye-cream-rp30000-container,
  .shampo-rp50000 {
    left: 671px;
  }
  .shampo-rp50000 {
    top: 2711px;
    left: 1042px;
  }
  .body-lotion-60000-container,
  .hair-serum-40000-container,
  .sun-cream-50000-container {
    position: absolute;
    top: 2159px;
    left: 212px;
    font-size: var(--font-size-16xl);
    font-weight: 500;
    text-align: center;
  }
  .body-lotion-60000-container,
  .hair-serum-40000-container {
    left: 630px;
  }
  .body-lotion-60000-container {
    top: 2151px;
    left: 1052px;
  }
  .customer-pride-product {
    position: absolute;
    top: 1766px;
    left: 489px;
    font-size: var(--font-size-9xl);
  }
  .dglowing {
    position: absolute;
    top: 42px;
    left: 626px;
    font-size: 40px;
    font-weight: 500;
  }
  .desktop-1-child5 {
    position: absolute;
    top: 53px;
    left: 31px;
    border-radius: 10px;
    background-color: var(--color-gainsboro);
    width: 166px;
    height: 38px;
  }
  .search {
    position: absolute;
    top: 61px;
    left: 42px;
    font-size: var(--font-size-mini);
  }
  .material-symbolssearch-icon {
    position: absolute;
    top: 60px;
    left: 157px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .blog,
  .home,
  .shop {
    position: absolute;
    top: 53px;
    left: 259px;
  }
  .blog,
  .shop {
    left: 345px;
  }
  .blog {
    left: 426px;
  }
  .about-me,
  .favorit,
  .myacconut {
    position: absolute;
    top: 48px;
    left: 922px;
  }
  .favorit,
  .myacconut {
    left: 1099px;
  }
  .favorit {
    top: 50px;
    left: 1293px;
  }
  .icon-park-solidlove-and-help,
  .icon-park-solidlove-and-help1 {
    position: absolute;
    top: 2405px;
    left: 1258px;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }
  .icon-park-solidlove-and-help1 {
    left: 868px;
  }
  .icon-park-solidlove-and-help2,
  .icon-park-solidlove-and-help3 {
    position: absolute;
    top: 1891px;
    left: 424px;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }
  .icon-park-solidlove-and-help3 {
    top: 1884px;
    left: 838px;
  }
  .icon-park-solidlove-and-help4,
  .icon-park-solidlove-and-help5 {
    position: absolute;
    top: 1877px;
    left: 1252px;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }
  .icon-park-solidlove-and-help5 {
    top: 2399px;
    left: 442px;
  }
  .desktop-1-child6 {
    position: absolute;
    top: 2944px;
    left: -3px;
    background-color: rgba(77, 118, 94, 0.8);
    width: 1440px;
    height: 407px;
  }
  .dglowing-affiliate-cek-container {
    position: absolute;
    top: 3036px;
    left: 562px;
    color: var(--color-white);
    margin-left: -40px;
  }
  .sebuah-tim-yang,
  .tentang-kami {
    position: absolute;
    left: 50px;
    color: var(--color-white);
  }
  .tentang-kami {
    top: 2972px;
    font-weight: 500;
  }
  .sebuah-tim-yang {
    top: 3010px;
    font-size: 18px;
    display: inline-block;
    width: 344px;
  }
  .group-icon {
    position: absolute;
    height: 3.28%;
    width: 1.18%;
    top: 88.91%;
    right: 62.08%;
    bottom: 7.81%;
    left: 36.74%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .layanan-kami {
    position: absolute;
    top: 2994px;
    left: 541px;
    color: var(--color-white);
  }
  .ikuti-kami,
  .instagram-tiktok-youtube-container {
    position: absolute;
    top: 3054px;
    left: 932px;
    color: var(--color-white);
  }
  .ikuti-kami {
    top: 2987px;
    left: 918px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 22px;
  }
  .vector-icon2 {
    position: absolute;
    height: 4.8%;
    width: 11.81%;
    top: 89.11%;
    right: 2%;
    bottom: 6.09%;
    left: 79.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    margin-left: 75px;
  }
  .instal-aplikasi {
    position: absolute;
    top: 2983px;
    left: 1159px;
    color: var(--color-white);
  }
  .desktop-1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3417px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  
  .apa{
    left: 918px;
  }